@import url('http://fonts.cdnfonts.com/css/keep-calm');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Roboto', sans-serif
  }
}

@layer components {
  .field {
    @apply mb-2 w-full
  }

  .input {
    @apply rounded-full px-5 py-3 border text-xl min-w-max
  }

  .field .input+.help-text {
    @apply ml-5 mt-1 font-thin text-sm text-error-600 min-h-[1.5em]
  }

  .btn {
    @apply rounded-full block font-keep-calm py-2 cursor-pointer
  }

  .btn.primary {
    @apply bg-primary text-secondary border border-secondary hover:bg-primary-hover
  }

  .bg-question-mark {
    @apply absolute z-0
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
